article.type3 {
  height: 200vw;
}

.text_type3 {
  position: relative;
  margin: 10vw 55vw 0 10vw;
}

.img_type3 {
  position: relative;
}

.img_type3 img {
  position: absolute;
  width: 35%;
  right: 10vw;
  top: -10vw;
}

.img_left img {
  margin-right: 4vw;
  transform: rotate(-5deg);
}

.img_right img {
  transform: rotate(5deg);
}

/*Стрелка и текст для вида Земли с Луны*/
#print3 {
  position: relative;
  margin-top: -16vw;
  margin-left: 60vw;
  margin-right: 13vw;
  text-indent: 0;
  text-align: left;
}

#arrow3 {
  position: relative;
  margin-top: -10vw;
  margin-right: 42vw;
  margin-left: 48vw;
  text-align: right;
}

#arrow3 img {
  height: 10vw;
}

/*Стрелка и текст для вида Земли с Марса*/
#print4 {
  position: relative;
  margin-top: -6vw;
  margin-left: 18vw;
  margin-right: 57vw;
  text-indent: 0;
  text-align: left;
}

#arrow4 {
  position: relative;
  margin-top: 5vw;
  margin-right: 48vw;
  margin-left: 30vw;
  text-align: right;
}

#arrow4 img {
  width: 13vw;
}

/*Стрелка и текст для вида Земли с Сатурна*/
#print5 {
  position: relative;
  margin-left: 10vw;
  text-indent: 0;
  text-align: left;
}

#arrow5 {
  position: relative;
  margin-top: -4vw;
  margin-right: 45vw;
  margin-left: 45vw;
  text-align: right;
}

#arrow5 img {
  width: 8vw;
}

/*Стрелка и текст для вида Земли с Нептуна*/
#print6 {
  position: relative;
  margin-left: 2vw;
  margin-right: 50vw;
  text-indent: 0;
  text-align: right;
}

#arrow6 {
  position: relative;
  margin-top: 5vw;
  margin-right: 48vw;
  text-align: right;
}

#arrow6 img {
  width: 13vw;
}
