article {
  height: 38vw;
}

.img_type1 {
  position: relative;
  /*Для анимации*/
  /*opacity: 0;*/
  opacity: 1;
  transition-duration: 1.5s;
}

/*Для анимации*/
.img_type1.active {
  opacity: 1;
  display: block;
}

.img_type1 img {
  position: absolute;
  width: 35%;
  left: 8vw;
}

.text_type1 {
  position: relative;
  color: #c3c3d9;
  font-size: 1.8vw;
  margin-left: 54vw;
  margin-right: 4vw;
  margin-top: 2.5vw;
  font-family: 'Jura', sans-serif;
  text-indent: 1.5em;
  text-align: justify;
}

.text_type1 .text_head_type1 {
  font-family: 'Rubik Glitch';
  margin-bottom: 1.8vw;
  font-size: 2.5vw;
  margin-left: -2vw;
  text-align: center;
}

.print {
  position: relative;
  font-family: 'Segoe Script Normal';
  color: #f02b4f;
  margin-left: 3vw;
  margin-top: 2vw;
  font-size: 1.5vw;
}

.arrow {
  position: relative;
  margin-left: 1.5vw;
  margin-top: -14vw;
}

.arrow img {
  width: 12vw;
}
