article.type1 {
  height: 38vw;
}

.img_type1 {
  position: relative;
}

.img_type1 img {
  position: absolute;
  width: 35%;
  left: 8vw;
}

.text_type1 {
  position: relative;
  margin-left: 54vw;
  margin-right: 4vw;
  margin-top: 2.5vw;
}

.text_type1 .text_head_type1 {
  margin-left: -2vw;
}

.print {
  position: relative;
  font-family: 'Segoe Script Normal';
  color: #f02b4f;
  margin-left: 2vw;
  margin-top: 3vw;
  font-size: 1.5vw;
}

#arrow1 {
  position: relative;
  margin-left: 1vw;
  margin-top: -14vw;
}

#arrow1 img {
  width: 7vw;
}
