article {
  height: 38vw;
}

.img_type1 {
  position: relative;
  width: 100%;
  left: 1vw;
}

.text_type1 {
  position: relative;
  margin-left: 54vw;
  margin-right: 4vw;
  margin-top: 2.5vw;
  text-indent: 1.5em;
  text-align: justify;
}

.text_type1 .text_head_type1 {
  margin-left: -2vw;
}

.print {
  position: relative;
  font-family: 'Segoe Script Normal';
  color: #f02b4f;
  margin-left: 3vw;
  margin-top: 2vw;
  font-size: 1.5vw;
}

.arrow {
  position: relative;
  margin-left: 1.5vw;
  margin-top: -14vw;
}

.arrow img {
  width: 12vw;
}
