@font-face {
	font-family: 'Rubik Glitch';
	font-style: normal;
	font-weight: normal;
	src: local('Rubik Glitch'), url('../fonts/RubikGlitch-Regular.ttf');
}

@font-face {
	font-family: 'Jura';
	font-style: normal;
	font-weight: normal;
	src: local('Jura'), url('../fonts/Jura-VariableFont_wght.ttf');
}

@font-face {
	font-family: 'Segoe Script Normal';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe Script Normal'), url('../fonts/segoesc.ttf');
}
