* {
   margin: 0;
   padding: 0;
}

body {
  background: #000;
  color: #c3c3d9;
  font-size: 1.8vw;
  font-family: 'Jura', sans-serif;
  text-indent: 1.5em;
  text-align: justify;
}

::-webkit-scrollbar {
  width: 0px;
}

/*Header*/
header {
  height: 55vw;
  text-indent: 0;
}

.back {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 50vw;
  margin: 0;
}

/*Вводный текст*/
#intro {
  margin-left: 4vw;
  margin-right: 4vw;
  margin-bottom: 5vw;
}

#logo {
  position: absolute;
  top: 4vw;
  left: 2vw;
  width: 40%;
}

#text_header {
  position: relative;
  bottom: 15vw;
  right: 5vw;
  font-family: 'Rubik Glitch';
  font-size: 2.5vw;
  color: #ffffff;
  text-align: right;
}

/*Footer*/
footer {
  margin-bottom: 0;
  position: relative;
  margin-top: 1.5vw;
  height: 5vw;
  font-family: 'Rubik Glitch';
  font-size: 1.8vw;
}

#link {
  position: absolute;
  display: block;
  color: #ffffff;
  text-decoration: none;
  right: 10%;
}

#link:hover {
  text-decoration: underline;
}

#link:visited {
  color: #505050;
}

/*Класс заголовков*/
.head {
  text-align: center;
  font-family: 'Rubik Glitch';
  font-size: 2.5vw;
  margin-bottom: 1.8vw;
  position: relative;
  margin-top: 4vw;
  margin-bottom: 4vw;
}

/*Класс подписей*/
.print {
  font-family: 'Segoe Script Normal';
  color: #f02b4f;
  font-size: 2vw;
}
