.blocks {
  overflow: scroll;
  white-space: nowrap;
  width: 100%;
  height: 50vw;
  text-indent: 0;
  position: relative;
}

.block {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  white-space: normal;
  position: relative;
}

/**/
.print.short {
  font-size: 1.8vw;
}

/*Главная картинка*/
.imgs {
  position: absolute;
  left: 0;
  top: 60%;
  bottom: 0;
  height: 40%;
  width: 20%;
}

.imgs.top {
  left: 0;
  top: 0;
  bottom: none;
}

.imgs.center {
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
}

.imgs.center.left, .imgs.center.right {
  width: 15%;
}

.imgs.center.right {
  left: 85%;
}

.imgs.big {
  left: 0;
  top: 12vw;
  bottom: 0;
  width: 60%;
}

.imgs.center.left img, .imgs.center.right img {
  height: 100%;
}

.imgs img {
  width: 100%;
}

#pluto {
  left: 80%;
}

#arrocot {
  top: 6vw;
  width: 10%;
}

/*Заголовок*/
.head.top {
  margin-left: 10vw;
}

/*Текст под заголовком*/
.text {
  margin-left: 2vw;
  margin-right: 4vw;
  margin-top: -3vw;
}

.text.top {
  margin-left: 20vw;
}

.text.center {
  text-indent: 1.5em;
  margin-left: 20vw;
  margin-right: 5vw;
}

.text.center.right {
  margin-right: 20vw;
}

/*Блоки с информацией*/
.blok_cr {
  width: 27%;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

#venera1, #venera7, #akatsuki {
  width: 25%;
}

.blok_cr div {
  white-space: normal;
  text-align: left;
  margin-right: 5%;
  text-align: center;
}

#earth_cr div, #cassini div, #huygens div {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
}

#huygens .print.short {
  width: 110%;
  margin-top: 3vw;
}

.blok_cr div img {
  width: 100%;
}

#mariner {
  bottom: 0;
  left: 16vw;
}

#messenger {
  top: 10vw;
  left: 44vw;
}

#BepiColombo {
  top: 17vw;
  right: 2vw;
}

#venera1 {
  top: 17vw;
  left: 10vw;
}

#venera1 div img {
  position: relative;
  width: 70%;
  transform: rotate(-10deg);
  margin-left: -10vw;
}

#venera7 {
  bottom: 2vw;
  left: 40vw;
}

#akatsuki {
  right: 3vw;
  bottom: 6vw;
}

#earth_cr {
  left: 40vw;
  bottom: 7vw;
}

#mrsexpress {
  bottom: 2vw;
  left: 17vw;
}

#perseverance {
  top: 13vw;
  left: 44vw;
}

#perseverance div img {
  width: 70%;
}

#tyanven {
  top: 17vw;
  right: 2vw;
}

#galileo {
  left: 23vw;
  top: 13vw;
}

#juno {
  right: 12vw;
  bottom: 2vw;
}

#cassini {
  right: 40vw;
  bottom: 20vw;
}

#huygens {
  right: 40vw;
  bottom: 0;
}

#voyager2 {
  left: 40vw;
  bottom: 1vw;
}

#pioner10 {
  left: 10vw;
  bottom: 2vw;
}

#newhorizons {
  right: 15vw;
  bottom: 5vw;
}
