.blocks {
  overflow: scroll;
  white-space: nowrap;
  width: 100%;
  height: 50vw;
  text-indent: 0;
  position: relative;
}

.block {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  white-space: normal;
  position: relative;
}

.imgs {
  position: absolute;
  left: 0;
  top: 60%;
  bottom: 0;
  height: 40%;
  width: 20%;
}

.head.top {
  margin-left: 10vw;
}

.imgs.top {
  left: 0;
  top: 0;
  bottom: none;
}

.imgs.center {
  left: 0;
  top: 0;
  bottom: 0;
}

.text {
  margin-left: 2vw;
  margin-right: 4vw;
  margin-top: -3vw;
}

.text.top {
  margin-left: 20vw;
}

.text.center {
  text-indent: 1.5em;
  margin-left: 20vw;
  margin-right: 5vw;
}

.imgs img {
  width: 100%;
}

.blok_cr {
  width: 27%;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

#venera1, #venera7, #akatsuki {
  width: 25%;
}

.blok_cr div {
  white-space: normal;
  text-align: left;
  margin-right: 5%;
  text-align: center;
}

#earth_cr div {
  display: inline-block;
  white-space: normal;
}

.blok_cr div img {
  width: 100%;
}

#mariner {
  bottom: 0;
  left: 16vw;
}

#messenger {
  top: 10vw;
  left: 44vw;
}

#BepiColombo {
  top: 17vw;
  right: 2vw;
}

#venera1 {
  top: 17vw;
  left: 10vw;
}

#venera1 div img {
  position: relative;
  width: 70%;
  transform: rotate(-10deg);
  margin-left: -10vw;
}

#venera7 {
  bottom: 2vw;
  left: 40vw;
}

#akatsuki {
  right: 3vw;
  bottom: 6vw;
}

#earth_cr {
  left: 40vw;
  bottom: 7vw;
}

#mrsexpress {
  bottom: 2vw;
  left: 17vw;
}

#perseverance {
  top: 13vw;
  left: 44vw;
}

#perseverance div img {
  width: 70%;
}

#tyanven {
  top: 17vw;
  right: 2vw;
}

#galileo {
  left: 23vw;
  top: 13vw;
}

#juno {
  right: 12vw;
  bottom: 2vw;
}
