.arrows {
    position: absolute;
      margin: 0;
}

.print {
  position: absolute;
}

/*Меркурий*/
#arrow1 {
  top: 3vw;
  left: -35%;
}

#arrow1 img {
  width: 8vw;
}

#print1 {
  top: 13vw;
  left: -70%;
  right: 100%;
}

/*Венера*/
#arrow2 {
  top: -5vw;
  left: 80%;
}

#arrow2 img {
  width: 8vw;
}

#print2 {
  top: -10vw;
  left: 0;
  text-align: left;
}

/*Земля*/
#arrow3 {
  top: 10vw;
  left: -18%;
}

#arrow3 img {
  height: 5vw;
}

#print3 {
  top: -2vw;
  left: -80%;
  right: 110%;
  text-align: right;
}

/*Марс*/
#arrow4 {
  top: -4vw;
  left: 80%;
}

#arrow4 img {
  width: 10vw;
}

#print4 {
  top: 2vw;
  left: 100%;
  right: -70%;
  text-align: right;
}

/*Юпитер*/
#arrow5 {
  top: 0;
  left: 100%;
  right: -20%;
}

#arrow5 img {
  height: 5vw;
}

#print5 {
  top: 5vw;
  left: 100%;
  right: -70%;
  text-align: right;
}

/*пояс астероидов*/
#arrow6 {
  top: 10vw;
  left: 8vw;
}

#arrow6 img {
  width: 40vw;
}

#print6 {
  top: 13vw;
  left: -65%;
  right: 105%;
  text-align: left;
}

/*Церера*/
#arrow7 {
  top: 13vw;
  left: 100%;
  right: -20%;
}

#arrow7 img {
  height: 5vw;
}

#print7 {
  top: 17vw;
  left: 100%;
  right: -62%;
  text-align: right;
}
