.blocks1 {
  height: 200vh;
  text-align: center;
  text-indent: 0;
}

.block1, .block1_line {
  height: 200vh;
  position: relative;
  display: inline-block;
  width: 49%;
  margin: 0;
  padding: 0;
}

.block1_line {
  height: 200vh;
  width: 3px;
  background-color: #f02b4f;
  border: none;
}

.block1_left, .block1_right {
  width: 50%;
  height: 60vh;
  background-color: #2e1a07;
  border: solid rgb(46, 26, 7, 0.2) 1px;
}

.block1_left img, .block1_right img {
  position: relative;
  width: 100%;
}

.block1_left {
  position: absolute;
  right: 0px;
}

.block1_right {
  position: absolute;
}

.block1_text {
  width: 100%;

}
