.long {
  margin: 4vw;
  margin-top: 0;
}

.block1 {
  height: 180vh;
  text-align: center;
  text-indent: 0;
  background: url("../../img/planets/backBlock1.png") repeat-y;
  background-size: 100% auto;
}

/*Информационные блоки*/
.block1 .left, .block1 .right {
  width: 23%;
  background-color: #2e1a07;
  border: solid rgb(46, 26, 7, 0.2) 1px;
  position: relative;
}

.block1 .left img, .block1 .right img {
  position: relative;
  width: 100%;
}

.block1 .left {
  left: 18%;
}

.block1 .right {
  left: 59%;
}

/*Текст в блоках*/
.fullText {
  width: 100%;
  font-size: 1.3vw;
}

.fullText div {
  margin: 4%;
  text-align: left;
}

.fullText .head {
  font-size: 1.5vw;
}

/*Подписи*/
.block1 .planet, .block1 .corner{
  line-height: 0.9;
  margin: 0;
  top: 0;
  height: 2vw;
  margin-left: -.20em;
  position: absolute;
  top: 2vh;
}

.block1 .planet {
  background-color: #ef6023;
  padding: 2%;
  right: 0;
  border-right: solid rgb(46, 26, 7, 0.2) 1px;
  margin: 0;
}

.block1 .corner {
  border: 1.5vw solid transparent;
  border-left: 1.5vw solid #ef6023;
  height: 0;
  right: -3vw;
}

.block1 .right .planet {
  left: 0;
  right: auto;
  border-right: none;
  border-left: solid rgb(46, 26, 7, 0.2) 1px;
}

.block1 .right .corner {
  border-left: none;
  border-right: 1.5vw solid #ef6023;
  right: auto;
  left: -1.15vw;
}

/*Шаг блоков*/
.block1 .step {
  height: 2vh;
}

.block1 .step div {
  background-color: #000;
  border: solid #ef6023 2px;
  border-radius: 50px;
  padding: 1% 2%;
  display: inline-block;
  height: 2vh;
  font-size: 1.4vw;
  line-height: 0.5;
  margin-top: 4vh;
}
